/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Container */
.work-experience-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
    color: #2f3e48;
}

/* Experience Section */
.experience-section h2 {
    font-size: 1.8rem;
    color: #3bc4d3;
    margin-bottom: 10px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.experience-section h3 {
    font-size: 1.5rem;
    color: #2f3e48;
    margin-top: 20px;
    margin-bottom: 10px;
}

.experience-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
}

.experience-section ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.experience-section li {
    list-style: disc;
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .work-experience-container {
        padding: 20px;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .experience-section h2, 
    .experience-section h3 {
        font-size: 1.5rem;
    }

    .experience-section p, 
    .experience-section li {
        font-size: 0.9rem;
    }
}
